.banner-area{
   background: #FFF;
   padding: 50px 0;
}

.banner-area .content {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}

.banner-area .content small {
   font-size: 16px;
   color: #00bfff;
   font-weight: bold;
}

.banner-area .content h1 {
   font-size: 36px;
   line-height: 45px;
   color: #5C5C5C;
   font-weight: bold;
   text-transform: capitalize;
}

.banner-area .content p {
   margin: 0;
   font-size: 15px;
   line-height: 152.34%;
   color: #5C5C5C;
   padding: 5px 0;
}

.banner-area .content a {
   display: inline-block;
   background: #FC476A;
   color: #fff;
   padding: 6px 20px;
   border-radius: 50px;
   text-decoration: none;
   margin-top: 15px;
   font-weight: 600;
}

.banner-area .image{
   width: 100%;
}
.banner-area .image img{
   width: 100%;
}

/* Responsive Media Query */
@media only screen and (max-width: 575.98px) {
   .banner-area .content {
      place-items: center;
  }
  .banner-area .content small {
   font-size: 13px;
   font-weight: 600;
}
  .banner-area .content h1 {
   font-size: 20px;
   line-height: 29px;
   text-align: center;
}
.banner-area .content p {
   font-size: 14px;
   padding: 0;
   text-align: center;
}
   .banner-area .image {
      margin-top: 50px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
   .banner-area .content {
      place-items: center;
  }
  .banner-area .content small {
   font-size: 13px;
   font-weight: 600;
}
  .banner-area .content h1 {
   font-size: 20px;
   line-height: 29px;
   text-align: center;
}
.banner-area .content p {
   font-size: 14px;
   padding: 0;
   text-align: center;
}
   .banner-area .image {
      margin-top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992.98px) {
   .banner-area .content h1 {
      font-size: 25px;
      line-height: 35px;
      margin: 0;
  }
  .banner-area .content a {
      margin-top: 8px;
   }

   .banner-area .content small {
      font-size: 15px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200.98px) {
   .banner-area .content h1 {
      font-size: 30px;
      line-height: 36px;
  }
  .banner-area {
      padding: 40px 0;
   }
}
@media screen and (min-width: 1201px) and (max-width: 1399.98px) {}