.blog .image {
   width: 100%;
   height: 260px;
   margin-bottom: 15px;
   background: #ddd;
   display: flex;
   align-items: center;
   justify-content: center;
}

.blog .image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.blog .content h3 {
   font-size: 15.5px;
   line-height: 20px;
   color: #5C5C5C;
   font-weight: 800;
   margin: 0;
}

.blog .content p{
   font-size: 14px;
   line-height: 18px;
   color: #5C5C5C;
   margin: 0;
   padding: 5px 0;
}

.blog .content a {
   background: #FC476A;
   color: #fff;
   padding: 6px 20px;
   display: inline-block;
   text-decoration: none;
   margin-top: 10px;
}