.courses-area{
   background: #fff;
   padding: 40px 0px;
}

.courses-area .courses, 
.courses-area .sidebar {
   background: #fff;
   padding: 15px;
}

.courses-area .sidebar h2{
   font-size: 17px;
   font-weight: bold;
   line-height: 22px;
   color: #5C5C5C;
   margin-bottom: 30px;
}