.course {
   font-size: 15px;
   line-height: 105.47%;
   color: #5C5C5C;
   text-decoration: none;
   display: block;
   padding-bottom: 30px;
}

/* Responsive Media Query */
@media screen and (min-width: 768px) and (max-width: 992.98px) {
   .course {
      font-size: 14px;
      line-height: 23px;
      padding-bottom: 15px;
  }
}